<div class="terminal-header">
    <span style="color: #a0a0a0;">axarva@axarva.me:~/posts&dollar; </span> ls -l --sort=date
</div>

<table class="terminal-table">
    <tbody>
        $for(posts)$
        <tr>
            <td class="perms">-rw-r--r--</td>
            <td class="user">axarva</td>
            <td class="group">staff</td>
            <td class="size">4.0K</td>
            <td class="date">$date$</td>
            <td class="name"><a href="$url$">$title$</a></td>
        </tr>
        $endfor$
        
        </tbody>
</table>