<!-- Post Header -->
<header style="padding-top: 50px; text-align: center; color: #fff;" alt="" title="">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading" data-cue="slideInDown">
                    <h1>$title$</h1>
                    $if(subtitle)$
                    <h2 class="subheading">$subtitle$</h2>
                    $endif$
                    <span class="meta">
                        $if(author)$
                        Posted by $author$
                        $endif$
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" data-cue="slideInDown">
                $body$
                <hr>
            </div>
        </div>
    </div>
</article>