<!-- Post Header -->
<header class="intro-header" style="background-image: url('/static/img/bg.png'); background-size: cover; background-position: center top;" alt="" title="">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading" data-cue="slideInDown">
                    <h1>$title$</h1>
                    Here are a few projects I'm currently working on.
                </div>
            </div>
        </div>
    </div>
    <div class="scroller">
        <a href="#posts" id="scroll-button-profile"><i class="fa fa-chevron-down"></i></a>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container" id="posts">
        <div class="row">
            <!-- <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> -->
                <div class="post-container">
                    $for(posts)$
                    <div class="post-flex">
                        <div class="post-info">
                            <h3>$title$</h3>
                            <p>$body$</p>
                            $if(github)$
                            <a href="$github$" rel="_blank">
                                <button><i class="fa fa-github"></i>   Visit Project</button>
                            </a>
                            $else$
                            <a href="https://www.incubatenepal.com/" rel="_blank">
                                <button><i class="fa fa-flask"></i>   Visit Project</button>
                            </a>
                            $endif$
                        </div>
                        <!-- <div class="post-image"> -->
                        <img class="project-image" src="/static/img/$title$.png">
                        <!-- </div> -->
                    </div>
                    $endfor$
                </div>
                <hr>

            <!-- </div> -->
        </div>
    </div>
</article>
<script>
  const animations = Array.from(document.querySelectorAll(".post-flex"))
  console.log(animations);
  animations.forEach((element) => {
    if(animations.indexOf(element) % 2 == 0) {
      element.setAttribute("data-cue", "slideInLeft")
    } else {
      element.setAttribute("data-cue", "slideInRight")
    }
  })
</script>
<!-- <hr> -->